@media (max-width: 600px){
    header{
        width: 100%;
        display: flex;
        padding: 1px 15px;
    }

    .navigation-items a{
        display: none;
    }
    
    a#button{
        display: none;
    }

        
    header .brand img{
    width: 110px;
    height: 90px;
    }   

    .notification-count {
        position: absolute;
        right: 1rem;
        top: 1.3rem;
    }

    .hero{
        flex-wrap:wrap-reverse;
        align-items: center;
        justify-content: center;
        padding: 1px 15px;
        height: 135vh;
    }

    .pictures{
        padding: 0px 15px;
        align-items: center;
        justify-content: center;
    }

    .pictures img{
        width: 140px;
        height: 180px;
    }
    
    .priority{
        text-align: center;
        margin-top: 0px;
        align-items: center;
        justify-content: center;
        font-size: 50px;
    }

    .second p{
        text-align: center;
        font-size: 14px;
        font-weight: 400;
    }

    .sec-button{
        gap: 1px;
        align-items: center;
        text-align: center;
        margin-left: 5rem;
        justify-content: center;
        display: block;
        margin-top: 0px;
    }

    button{
        width: 9.5rem;
        border-radius: 5rem;
        font-size: 16px;
        font-weight: 200;
        gap: 1rem;
    }

    .play-btn{
        width: 2rem;
        height: 2rem;
    }
    
    .btn-join{
        gap: 9px;
        margin-top: 1rem;
    }
    
    .btn-join p{
        font-size: 1rem;
        font-weight: 300;
        color: #2f2f2f;
    }

    #sub{
        padding: 0rem 15px;
        height: 390vh;
    }

    .net{
        padding: 1rem 15px;
    }
    
    .net h1{
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 35px;
    }
    
    .net p{
        margin-top: 5px;
        font-size: 23px;
        line-height: 1.7rem;
    }

    .box{
        padding: 0px 15px;
        margin-top: 2rem;
        display: block;
    }

    .card{
        margin-top: 1rem;
        gap: 2rem;
        justify-content: space-between;
    }

    .holistic h2{
        font-size: 30px;
        font-weight: 400;
    }
    
    .personalized h2{
        font-size: 30px;
        font-weight: 400;
        margin-top: 2rem;
    }
    
    .holistic p{
        font-size: 19.4px;
        font-weight: 300;
        color: #5a5143;
        margin-top: 11px;
    }
    
    .personalized p{
        font-size: 19.4px;
        font-weight: 300;
        margin-top: 11px;
    }
    
    .last{
        margin-top: 1rem;
    }

    .how{
        margin-top: 3rem;
        padding: 0px 15px;
        display: block;
    }
    
    .you h1{
        font-size: 43px;
        font-weight: 400;
    }
    
    .you p{
        margin-top: 1rem;
        font-size: 20px;
    }

    .banner{
        margin-top: 1.5rem;
        align-items: center;
        text-align: center;
    }

    .banner img{
        width: 320px;
    }

    .container{
        padding: 0px 10px;
        display: block;
        justify-content: space-between;
        margin-top: 3.6rem;
    }
    
    .content{
        padding: 2rem 20px;
        background: #BDCDC1;
        width: 100%;
        height: 19rem;
        margin-top: 1rem;
    }

    .true{
        height: 220vh;
        padding: 2rem 15px;
        background: #2f2f2f;
    }
    

    .leaf h2{
        margin-top: 2rem;
        font-size: 29.6px;
        font-family: 'Gentium Basic', sans-serif;
        font-weight: 400;
        color: white;
    }
    
    .ink{
        padding: 3rem 15px;
        justify-content: space-between;
    }

    .ink img{
        width: 60px;
    }

    .testimonials{
        display: block;
        margin-top: 2rem;
    }
    
    .woman{
        width: 350px;
        height: 360px;
    }
    
    .woman img{
        width: 330px;
        height: 290px;
    }
    .designer p{
        color: #5FA573;
        font-size: 20px;
    }
        
    .designer h2{
        margin-top: 3rem;
        color: #fff;
        font-size: 30px;
        font-weight: 400;
        font-family: 'Gentium Basic', sans-serif;
    }
        
        .designer h3{
            margin-top: 2.5rem;
            color: #fff;
            font-size: 30px;
            font-weight: 400;
            font-family: 'Gentium Basic', sans-serif;
        }
        
        .designer p.arrow{
            margin-top: 12px;
            font-size: 18px;
            color: #fff;
            font-weight: 400;
            }
        
        .icons{
            font-size: 30px;
            align-items: center;
            justify-content: center;
            display: flex;
            gap: 16.9px;
            margin-top: 1.6rem;
        }
        .icon i{
            padding: 1rem;
            background-color: transparent;
            border-radius: 9rem;
            border: 1px solid rgba(191, 191, 191, 0.369);
        }
        
        .icon-btn:hover{
            background: #5FA573;
        }
        
        .icon-btn{
            width: 2.5rem;
            height: 2.5rem;
        }
        
        .icon-btn i{
            font-size: 1.4rem;
        }
        
        .news{
            display: flex;
            padding: 0px 45px;
            background: #FDF7EF;
            justify-content: space-between;
            height: 80vh;
        }

        .icons{
            gap:1.8rem;
        }

    .news-top{
            display: block;
            height: 150vh;
            width: 100%;
            padding: 1rem 15px;
        }

        .branch{
            margin-top: 1rem;
        }

        .news{
            display: block;
            padding: 1rem 15px;
            height: 160vh;
        }
        
        .wrapper-top{
            width: 100%; 
            height: 320px;
        }

        .art{
            flex-wrap: wrap-reverse;
            background: #FCF4E6;
            padding: 1rem 15px;
            justify-content: space-around;
            gap: 1rem;
        }
        
        .rem h1{
            font-size: 40px;
            font-family: 'Gentium Basic', sans-serif;
            font-weight: 400;
        }
        
        .rem p.and{
            margin-top: 1rem;
            font-size: 20px;
        }
        
        .med{
            justify-content: center;
            justify-content: space-between;
            gap: 0rem;
            margin-top: 1rem;
        }

        .med p{
            margin-top: 2rem;
            font-size: 24px;
            font-weight: 400;
        }

        .medication{
            gap: 0rem;
            justify-content: space-between;
            margin-top: 3rem;
        }

        .medication p{
            font-size: 20px;
            font-weight: 400;
        }

        .style-btn{
            width: 1.5rem;
            height: 1.5rem;
        }

        .dicator img{
            margin-top: 1rem;
            width: 280px;
        }
    
        /* service */

        .service{
            background: #FCF4E6;
            padding: 2rem 10px;
        }
        
        .our{
            padding: 0px 10px;
            display: flex;
            gap: rem;
            justify-content: space-between;
        }
        
        h1.ser{
            font-size: 20px;
            color: #2F2F2F;
            font-weight: 400;
            font-family: 'Gentium Basic', sans-serif;
        }
        
        a#butt{
            padding: 10px 10px;
            font-size: 15px;
            font-weight: 400;
        }
        
        
        .top{
            background: #FCF4E6;
            display: block;
            justify-content: space-between;
            height: 183vh;
            padding: 1px 15px;
        }
        
        .top-wrapper{
            width: 100%;
            height: 340px;
        }

        .join{
            align-items: center;
            text-align: center;
        }

        .wrapper-top img{
            height: 100%;
            width: 100%;
        }
        
        .branch h2{
            font-size: 25px;
            color: #2F2F2F;
            margin-top: 2rem;
        }
        
        .branch p{
            font-size: 18px;
            font-weight: 400;
            margin-top: 1rem;
        }
    

        .point{
            display: flex;
            justify-content: center;
            justify-content: space-between;
            padding: 0rem 15px;
        }
        
        .job{
            display: flex;
            justify-content: space-between;
            padding: 1rem 10px;
        }
        
        .-join{
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            gap: 1rem;
        }
        
        #body-end-list{
            width: 100%;
            height: 140vh;
            text-align: center;
            align-items: center;
            padding: 2rem 15px;
        }
        
        .first-list{
            flex-wrap: wrap-reverse;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
        }
        
        .locate h1{
            font-family: 'Gentium Basic', sans-serif;
            font-size: 30px;
            font-weight: 400;
        }
        
        .list-one{
            margin-top: 1rem;
        }
        
        .list-one p{
            margin-top: 0.7rem;
        }
        
        .list-one ul li a{
            text-decoration: none;
            color: #5b5757;
            font-size: 20px;
            transition: color .3s;
        }
        
        .list-one ul li a:hover{
            color: #5fa573;
        }
        
        .list-one p{
            color: #5b5757;
            margin-bottom: 0;
            font-family: Karla, sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.4em;
        }
        
        .list-two a img{
            max-width: 100%;
            display: inline-block;
        }

        .list-two{
            display: block;
            text-align: center;
            align-items: center;
        }
        
        .list-two h1{
            color: #2f2f2f;
            margin-top: 0;
            font-size: 40px;
            font-weight: 400;
        }
        
        .cus-btn{
            margin-top: 0px;
            display: block;
        }
        
        .cus-btn a{
            /* padding: 12px 20px;*/
            font-size: 19px; 
            font-weight: 400;
            width: 11rem;
            height: 3rem;
        }
        
        .cus-btn  .cus-btnb{
            background: #fff;
            border: none;
            padding: 12px 35px;
        }

        .cus-btn{
            margin-top: 30px;
            display: flex;
            gap: 6%;
        }
        
        .cus-btn a{
            text-decoration: none;
            text-align: center;
            border-radius: 50px;
            padding: 12px 35px;
            font-size: 17px;
            font-weight: 400;
            transition: all .3s;
            color: #2f2f2f;
            border: 1px solid #2f2f2f;
        }
        
        .cus-btn  .cus-btnb{
            background: #fff;
            border: none;
            padding: 12px 30px;
        }
        
        .second-list{
            display: flex;
            align-items: center;
            display: flex;
            gap: 12%;
            margin-top: 0;
            margin-bottom: 0;
            font-family: Gentium basic, sans-serif;
        }
        
        .lst-one{
            margin-top: 2.3rem;
        }
        
        .lst-one h1{
            font-size: 30px;
            font-weight: 400;
            font-family: 'Gentium Basic', sans-serif;
        }
        
        .this{
            color: #5b5757;
            font-size: 20px;
            font-weight: 400;
            margin-top: 1rem;
        }
        
        .this p{
            line-height: 2.6rem;
        } 

        .office h1{
            font-family: 'Gentium Basic', sans-serif;
            font-size: 50px;
            font-weight: 400;
        
        }
        
        .lst-one ul{
            display: flex;
            flex-direction: column;
            list-style-type: none;
            gap: 15px;
        }
        
        .lst-one p {
            text-decoration: none;
            color: #5b5757;
            font-size: 20px;
            font-weight: 400;
            transition: color .3s;
        }
        
        
        .footer{
            padding: 3rem 15px;
            display: block;
            align-items: center;
            justify-content: space-between;
        }
        
        .blog{
            display: flex;
            gap: 14px;
        }
        
        .blog p{
            font-size: 20px;
            font-weight: 400;
        }
        
        .blog p:hover{
            color: #5fa573;
        }

        .foot{
            margin-top: 1rem;
            align-items: center;
            text-align: center;
        }
        
        .foot p{
            color: #212020;
            font-size: 19px;
            font-weight: 400;
        }

}